header {
    background-color: #dddddd;
    background-image: url("../images/rangga-cahya-nugraha-1184974-unsplash.jpg");
    background-size: cover;
}

.jumbo-bg-text-holder {
    background-color: #dddddd;
    opacity: 0.95;
}

.jumbotron {
    height: 260px;
}